{% extends "base.html" %}
{% block content %}
    <h1 class="pb-5">Account settings</h1>
    {% for message in messages %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'includes/bs4_form.html' with form=form %}
        <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
