{%  extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <h1 class="pb-5">Login</h1>
        {% for message in messages %}
            <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
        <form action="." method="post">
            {% csrf_token %}
            {%  include 'includes/bs4_form.html' with form=form %}
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Enter</button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {%  else %}
        <p class="alert alert-success">
            Hello, <strong>{{ user.username }}</strong>! You're already logged in.
        </p>
    {% endif %}
{% endblock %}
