{%  extends 'base.html' %}

{% block content %}
<h1 class="pb-5">Sign up</h1>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/bs4_form.html' with form=form %}
    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</form>
{% endblock %}