<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Hasker</a>
        <!-- burger -->
        <button
                class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExample04" aria-controls="navbarsExample04"
                aria-expanded="false" aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- burger ends -->

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto"></ul>
            <form
                action="{% url 'search' %}"
                class="form-inline my-2 my-md-0"
            >
            <div class="input-group">
                <input
                    name="q"
                    value="{{ q }}"
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    aria-label="Search"

                >
                <div class="input-group-apppend">
                        <button
                            class="btn btn-outline-light"
                            type="submit"
                        >Search</button>
                    </div>
                </div>
            </form>
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn btn-success ml-2">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign Up</a>
            {% else %}
                <a
                    class="btn btn-link"
                    href="{% url 'account' %}"
                >
                    <img
                        class="ml-2 mr-2"
                        {% if user.avatar %}
                        src="{{ MEDIA_URL }}/{{ user.avatar }}"
                        {% else %}
                        src="{{ '/static/hasker/images/avatars/default.png' }}"
                        {% endif %}
                        width="32"
                        height="32"
                    >
                    {{ user.username }}
                </a>
                <form class="form-inline my-2 my-md-0"
                      action="{% url 'logout' %}"
                      method="POST"
                >
                    {% csrf_token %}
                    <button class="btn btn-primary ml-2" type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>